@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(/files/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf) format('truetype');
  }

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

.home {
    text-align: center;
    padding: 50px;
    background: #fff;
    margin-top: 40%;
    margin-bottom: 40%;
}

.external-links .discord {
    width: 3.275rem;
    height: 2.5rem;
    margin: 0.2rem
}

.external-links .github {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.2rem
}

.external-links .linkedin {
    width: 2.8rem;
    height: 2.5rem;
    margin: 0.2rem
}

.home h1 {
    margin: 0;
    font-size: 4rem;
    color: #333;
}

.home p {
    color: #666;
    font-size: 2rem;
    max-width: 80%;
    margin: 20px auto;
}

.home-buttons {
    margin-top: 4%;
}

.home-button {
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    color: #ffffff;
    display: inline-block;
    margin: 1rem 1rem 1rem 1rem;
    background: #000000;
}

.section {
    padding: 50px 10%;
}

.projects-section {
    display: flex;
    justify-content: space-between;
    margin-top: 40%;
    margin-bottom: 40%;
}

.project-media, .project-description {
    flex: 1;
    height: 50rem;
}

.media-frame {
    width: 100%;
    border: none;
    margin-bottom: 20px;
}

.button-container {
    text-align: center;
}

.project-description {
    padding-left: 20px;
}

.project-description h2 {
    margin-top: 0;
}

.button-container button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.gist {
    max-width:350px;
    overflow:auto;
 }
 
 .gist .blob-wrapper.data {
    max-height:200px;
    overflow:auto;
 }